
use next;

extern fn print(format ptr str);
extern fn println(format ptr str);

struct A {}

fn main1() {
	let a A = A {};
	# a.bcd;
	# a.b.c.fdsa;
	# print(a.b);
	let foo next::Foo = next::Foo {

	};
	println("Hello, world!");
}

fn main2() {
	main2();
	println("Hello, world!");
	next::println("Hello, world!");
}

fn callback(cb fn(ptr str, ref usize) next::Foo) {
	let a usize;
	cb("", ref a);
}
