
use next;

extern fn print(format ptr str);
extern fn println(format ptr str);
extern fn exit(code byte);

struct A {}

fn main1() {
	let a A = A {};
	# a.bcd;
	# a.b.c.fdsa;
	# print(a.b);
	let foo next::Foo = next::Foo {

	};
	println("Hello, world!");
	exit(-1byte);
}

fn main2() {
	main2();
	println("Hello, world!");
	next::println("Hello, world!");
}

fn callback(cb fn(ptr str, ref usize, byte) next::Foo) {
	let a usize;
	cb("", ref a);

	if a == 10usize {
		exit(-1byte);
	}
}
